* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}


header {
    width: 100%;
    font-size: medium;
    font-weight: bold;
    padding:10px;
    border: 0px;
    background-color: antiquewhite;
    
}

header h1{
    position: relative;
    padding:10px 0px 20px 0px;
    width: 30%;
    margin: auto;
    font-style: italic;
    
}

nav{
    width: 100%;
}
nav ul{
    width: 100%;
}


nav li{
    display: inline-block;
    position: relative;
    left: 28%;
    
}

nav li button{
    border: inset 2px;
    border-color: rgb(173, 236, 229);
    background-color: aliceblue;
    padding: 8px;
    cursor: pointer;
    transition: background-color 1.5s;

}

nav li button:hover{
    background-color: aqua;
    border-color: aquamarine;
    
    
}

nav li button:active{
    background-color: rgb(0, 132, 255);
    border-color: rgb(173, 200, 236);
    transition: background-color 0.5s;
    
}

#value{
    position: absolute;
    bottom:10%;
    left:35%;
}

#value p{
    position: relative;
    left: 55%;
    bottom:20%;
}

#display{
    width:300px;
    height:300px;
    background-color:whitesmoke;
    border: inset 10px;
    border-radius: 50%;
    border-color: grey;
    position: absolute;
    left: 37%;
    top: 35%;
    transition: background-color 0.9s;

}

#ranop{
    display: none;
    position: absolute;
    right:47%;
    
    
}

#red{
    padding-right: 103%;
}

#blue{
    padding-right: 96%;
}

#green{
    padding-right: 89%;
}

#ranop li{
    list-style: none;
    display: list-item;
    
}

